html {
    text-align: center;
    font-family: 'Bayon';
    background-color: #fffcfc;
}
body {
width: 100%;
margin: auto;
height: auto;
font: ('/Page2Images/fonts/Bayon.ttf');
}
.card-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card-item {
    width: 10%;
    height: 250px;
    width: 200px;
    background-color: #33053d;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1%;
    position: relative;
    justify-content: center;
    align-items: center;
}
/*HOVER*/
.circle-container1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.circle-container2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.circle-container3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.circle-container1:hover .overlay {
    background-color:rgb(98, 0, 128);
    opacity: 1;
}
.circle-container2:hover .overlay {
    background-color:#004880;
    opacity: 1;
}
.circle-container3:hover .overlay {
    background-color:rgb(5, 100, 117);
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
}
h2 {
    color: #fffcfc;
    font-family: 'Bayon';
}
p {
    font-family: 'Bayon';
}
.text {
    color:#15c4ed;
}
.ptools {
    color:#15c4ed;
}
.overlay p {
    margin: 0;
    font-size: 16px;
}
.circle-container1 img {
    width: 100%;
    height: auto;
    display: block;
}
.circle-container2 img {
    width: 100%;
    height: auto;
    display: block;
}
.circle-container3 img {
    width: 100%;
    height: auto;
    display: block;
}
/*BANNER*/
.banner {
    background-color: #15c4ed;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 6px;
}
/*TOOLS*/
.SectionC{
    width: 900px;
    background-color: #33053d;
    padding:20px;
    border-radius: 6px solid;
    margin: auto;
    margin-top: 0px;
}
.tools {
    display:flex;
    justify-content: center;
    color:#15c4ed;
    width: 500px;
    margin-top: 0px;
}
.icon {
   margin-right: 50px;
}
.icon img {
    width: 70px;
    height: auto;
}
footer {
    background-color: #33053d;
    text-align: center;
    color: #15c4ed
}