.header-container {
    background-color: #30003b;
}
.header-container {
    display: flex;
    align-items: center;
    height: 22.2vh;
    justify-content: center;
    display: flexbox;
    overflow:hidden;
}
.logo img {
    max-width: 150px; 
    height: auto;
    display: block;
}
h1 {
    color: #15c4ed;
    font-size: 6vh;
}
body {
    background-color: #fffcfc;
    font-family: 'Bayon', sans-serif;
}
@font-face {
    font-family: 'Bayon';
    src: url('assets/fonts/Bayon.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}
.login-container {
    text-align: center;
    background-color: #33053d;
    margin: auto;
    max-width: 25%;
    padding: 30;
    border-radius: 5%;
    margin-bottom: 15%;
    color: #15c4ed;
    overflow: hidden;
}

/*check*/.card-item {
    position: relative;
    justify-content: center;
    align-items: center;
}

/*check*/.card-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*check*/.button {
    display: inline-block;
    padding: 1px 22px;
    background-color: #15c4ed;
    color: #fff;
    text-decoration: none;
    border-radius: 6px solid;
    margin-left: 30%;
    margin-top: 8%;
    margin-bottom: 8%;
}

/*check*/.button:hover {
    background-color: #0056b3;
  }

/*check*/footer {
    background-color: #33053d;
    text-align: center;
    color: #15c4ed;
}
