body {
    background-color: #fffcfc;
}

.header-container {
    background-color: #33053d;
}
.title {
    color:#15c4ed;
    text-align: center;
    margin-bottom: 8%;
}

.login-container {
    text-align: center;
    background-color: #33053d;
    margin: auto;
    max-width: 25%;
    padding: 30;
    border-radius: 5%;
    margin-bottom: 15%;
    color: #15c4ed;
}

label {
    margin-top:
}

button {
    background-color: #15c4ed;
    color: #fffcfc;
    margin-left: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
}
footer {
    background-color: #33053d;
    text-align: center;
    color: #15c4ed;
}